<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <!-- 查询所有能启动 MainActivity 的应用 -->
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:name=".MainApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OkhttpLearn">
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.OkhttpLearn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 默认图标 -->
        <!-- <activity-alias -->
        <!--     android:name=".MainAliasDefault" -->
        <!--     android:enabled="true" -->
        <!--     android:exported="true" -->
        <!--     android:icon="@mipmap/ic_launcher" -->
        <!--     android:roundIcon="@mipmap/ic_launcher_round" -->
        <!--     android:targetActivity=".ui.activity.MainActivity"> -->
        <!--     <intent-filter> -->
        <!--         <action android:name="android.intent.action.MAIN" /> -->
        <!--         <category android:name="android.intent.category.LAUNCHER" /> -->
        <!--     </intent-filter> -->
        <!-- </activity-alias> -->

        <!-- 第二个图标 -->
        <activity-alias
            android:name=".MainAliasRed"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_red"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>